.navbar-container {
  background-color: #414288f6;
  color: #ff934f;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid #bcffc1;
  box-shadow: 0 4px 5px #211a1e88;
  z-index: 100;
}
.brand {
  font-size: 1.5rem;
  font-family: "Righteous", cursive;
  background-color: #211a1ea6;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #4d554e;
  box-shadow: 2px 2px 5px #4d554e;
  color: #ff934f;
}
.brand-my,
.fa-plane {
  color: #d3fad6;
}
.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.login-register {
  padding-left: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}
/* .avatar{
    color: #ff934f;
} */
@media (max-width: 576px) {
  .navbar-container {
    padding: 0.5rem 0.5rem;
  }
  .brand {
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
  }
  .login-register {
    font-size: 1rem;
    font-weight: 500;
  }
  .avatar {
    display: none;
  }
}
@media (max-width: 300px) {
  .navbar-container {
    padding: 0.25rem 0.25rem;
  }
  .brand {
    font-size: 1rem;
    padding: 0.25rem 0.25rem;
  }
  .login-register {
    font-size: 1rem;
    font-weight: 400;
  }
  .avatar {
    display: none;
  }
}
.footer-container {
  background-color: #ff934f;
  color: #fcfff7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 2rem;
}
.logout-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ff934f;
}
